<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bread</title>
</head>
<body>
    <H1><%= Bread.name %></H1>
    <p>description: <%= bread.description %></p>
    <a href="/update/<%= bread.id %>">Edit</a>
    <a href="/delete/<%= bread.id %>">Delete</a>
    <a href="/">Home</a>

</body>
</html>