<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>update book</H1>
    <form method="post" action="/edit/<% =bread.id %>">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description">
        <br>
        <label for="price">Price</label>
        <input type="number" id="price" name="price">
        <br>
        <input type="submit" value="edit">
    </form>
    <a href="/Bread/<%= bread.id %>">view</a>
    <a href="/delete/<%= bread.id %>">Delete</a>
    <a href="/">Home</a>
</body>
</html>